---
title: Company Already Exists
robots: true
---

<div class="grid-x grid-container">
  <div class="cell">
    <div class="callout alert">
      <h3>Whoops</h3>
      <p>This company already has a Workhub account. Your request to be added has been received and is pending approval by their safety team. If you believe you already have a profile with this company and it's possibly under another email, you can try <a href="https://app.workhub.com/" target="_blank">logging in here.</a></p>
    </div>
  </div>
</div>