.embla {
	overflow: hidden;
	margin-top: 114px;
}

.embla__container {
	display: flex;
}

.embla__slide {
	padding: 0 5% 0 5%;
	position: relative;
	/* Needed if loop: true */
	flex: 0 0 100%;
	/* Choose any width */
}

.features-btn {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin: 1rem;
	width: calc(80px + 5vw);
	height: calc(80px + 5vw);
	min-width: 126px;
	min-height: 126px;
}

.features-btn img {
	width: calc(30px + 3vw) !important;
	height: calc(30px + 3vw) !important;
	margin: auto auto 0 auto;
	min-width: 60px;
	min-height: 60px;
	
}

.features-btn div {
	margin: 7% auto 12% auto;
}

.features-btn svg {
	position: absolute;
	width: calc(80px + 5vw);
	height: calc(80px + 5vw);
	min-width: 126px;
	min-height: 126px;
}

.features-btn-array {
	justify-content: center;
	filter: grayscale(100%)
}

.animate-path {
	opacity: 0;
	transition: opacity .2s;
}

.is-animate-path-active {
	opacity: 1;
}

.is-animate-path-active:not(.no-animate) {
	stroke-dasharray: 625;
	stroke-dashoffset: -625;
	animation: dash 5s linear forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.spacer {
	height: 150vh;
}