.main-background {
   background: url('/assets/img/index/landing-site.jpg') no-repeat;
   backdrop-filter: grayscale(100%);
   // filter: grayscale(100%);
   background-position: center;
   @include breakpoint(small) {
   background-size:140vw;   
   }
   @include breakpoint(medium) {
   background-size: 130vw;   
   }
   @include breakpoint(large) {
   background-size: 110vw;   
   }
   @include breakpoint(xlarge) {
   background-size: 100vw;   
   }
   @include breakpoint(xxlarge) {
   background-size: 80vw;   
   }
}

.clients {
   height: 200px;
   width: 300px;
   display: flex;
   justify-content: center;
   * {
      align-self: center;
   }
}

.client-image {
   display: inline-block;
   max-height: 180px;
   max-width: 280px;
   width: auto;
   height: auto;
}

.aegion {
   background-color: #000;
}

.petronas {
   background-color: #ededed;
}

.viking {
   background-color: #00264F;
}

.nzrb {
   background-color: #003672;
}

.gfl {
   background-color: #97D700;
}

.surerus {
   background-color: #ededed;
}

.cenovus {
   background-color: #005568;
}

.atco {
   background-color: #000;
}

.petrocanada {
   background-color: #EF293D;
}

.global-shadow {   
   box-shadow: 0 120px 120px 0 rgba(5,22,70,0.09);
}

.signup-shadow {   
   box-shadow: 0 120px 120px 70px rgba(5,22,70,0.09);
}

.easy-signup-button button {
   height: 4rem !important;
   border-top-right-radius: $global-radius;
   border-top-left-radius: 0rem;
   border-bottom-left-radius: 0rem;
   border-bottom-right-radius: $global-radius;
}

.easy-signup-button input {
   height: 4rem !important;
   border-top-right-radius: 0rem;
   border-bottom-right-radius: 0rem;
   border-top-left-radius: $global-radius;
   border-bottom-left-radius: $global-radius;
   border-right: none;
   outline: none;
}

.orange-text {
   color: $primary-color !important;
}

#signup-callout {
   border: none !important;
   @include callout-base;
   @include breakpoint(medium) {
      padding: 4rem 1rem 1rem;      
   }
   @include breakpoint(large) {
      padding: 4rem 2rem 2rem;      
   }
}

.lessons-box {
   @include callout-base;
   -moz-box-shadow:    6px 6px 6px 6px rgb(245, 245, 245);
   -webkit-box-shadow: 6px 6px 6px 6px rgb(245, 245, 245);
   box-shadow:         6px 6px 6px 6px rgb(245, 245, 245);
}

.features-block {
   display:none;
}