#footer {
	background-color: #fd7411;
	@include breakpoint(small) {		
	clip-path: polygon(
		0 7%, /* left top */
		100% 0, /* right top */ 
		100% 100%, /* right bottom */
		0 100% /* left bottom */)
	}
	@include breakpoint(medium) {		
	clip-path: polygon(
		0 15%, /* left top */
		100% 0, /* right top */ 
		100% 100%, /* right bottom */
		0 100% /* left bottom */)
	}
	@include breakpoint(large) {		
	clip-path: polygon(
		0 20%, /* left top */
		100% 0, /* right top */ 
		100% 100%, /* right bottom */
		0 100% /* left bottom */)
	}	
	@include breakpoint(xlarge) {		
	clip-path: polygon(
		0 30%, /* left top */
		100% 0, /* right top */ 
		100% 100%, /* right bottom */
		0 100% /* left bottom */)
	}	
}


#footer a {
	color: $white;
}
#footer hr {
	border: 0;
	border: 1px solid #336BDE;
}

#footer h4 {
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
}
