.year-circle {
  border-radius: 50%;
  background-color: $primary-color;
  height: 12rem;
  width: 12rem;
  color: $white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-left: 4rem;
}

.year-circle p {
  padding-top: 4.8rem;
}
