.pricing-table-basic {
    background-color: $white;
    text-align: center;
    list-style-type: none;
    border-radius: $global-radius;
  
    li {
      padding: 0.1rem 1.125rem;
  
      &:last-child {
        border-bottom: 0;
        padding: 1rem 1.125rem;
      }
    }
  
    .title {
      color: $black;
      font-size: 2rem;
      border-bottom: 0;
      padding-top:4rem;
    }
  
    .price {
      font-size: 3rem;
      color: $primary-color;
      border-bottom: 0;
    }
  
    .description {
      color: $dark-gray;
      font-size: $small-font-size;
    }
  
    :last-child {
      margin-bottom: 3rem;
    }
  }
  .pricing-table-pro {
    background-color: $secondary-color;
    text-align: center;
    list-style-type: none;
    border-radius: $global-radius;
  
    li {
      padding: 0.1rem 1.125rem;
      color: $white;
  
      &:last-child {
        border-bottom: 0;
        padding: 1rem 1.125rem;
      }
    }
  
    .title {
      color: $white;
      font-size: 2rem;
      border-bottom: 0;
      padding-top:4rem;
    }
  
    .price {
      font-size: 3rem;
      color: $primary-color;
    }
  
    .description {
      color: $white;
      font-size: $small-font-size;
    }
  
  }