---
title: Complete Course Catalog
description: We've got over 60 safety awareness courses for your workplace safety needs.
course: true
robots: true
---
<!-- uses panini/front matter plugin to pull data from data/courses.json and iterates them. Use API GET to https://api.safetysync.com/website/training/SafetyAwarenessCourses to get the latest list of courses/lessons to add to courses.json. You may need to delete some like WHMIS 1988 and the AFPA courses. -->
<div class="grid-x grid-padding-x grid-padding-y" data-equalizer>
  <div class="cell text-center">
    <h1>Full Course Catalog</h1>
    <p>Workhub has over 60 courses available for free that can help you satisfy your company's safety awareness training requirements.</p>
  </div>
  {{#each courses}}
  <div class="cell medium-3">
    <div class="lessons-box" data-equalizer-watch>
      <img src="{{safetyImageURL}}" alt="{{courseName}} Logo">
      <h3>{{courseName}}</h3>
      <p>{{courseDescription}}</p>
      <stat class="time">{{totalCourseRunSeconds}}</stat> minutes
      <stat>{{activeLessonsCount}} Lessons</stat>
      <ul>
        {{#each lessonNames}}<li>{{this}}</li>{{/each}}
      </ul>
      {{#if url}}<a href="{{root}}{{url}}" class="button large secondary">View Course Details</a>{{/if}}
    </div>
  </div>
  {{/each}}
</div>
{{> seconds-to-minutes}}