---
title: How it Works for Workplace Safety
description: Workhub is an amazing tool for satisfying safety requirements placed on your business by the government or your industry.
robots: true
---
<div class="grid-y" style="height:300px">
  <div class="cell medium-4"></div>
  <div class="cell text-center">
    <h1>How it Works for Workplace Safety</h1>
  </div>
</div>
<div class="grid-y grid-container grid-margin-y" style="height:1800px">
  <div class="cell">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <h2>Build.</h2>
        <ul>
          <li>Create your safety program by first adding roles for your workers.</li>
          <li>Set requirements for these roles as part of their compliance.</li>
          <li>This will be things like your safety management policy, a driver's abstract, a procedure on safe lifting and so on.</li>
          <li>Enable additional references for your workers: safety data sheets, legislation, etc.</li>
        </ul>
      </div>
      <div class="cell medium-6">        
        <picture>
          <source srcset="https://via.placeholder.com/500x150" srcset1="https://via.placeholder.com/500x300" type="image/webp">
          <img src="assets/img/" alt="">
        </picture>
      </div>
      <div class="cell medium-6">        
        <picture>
          <source srcset="https://via.placeholder.com/500x150" srcset1="https://via.placeholder.com/500x300" type="image/webp">
          <img src="assets/img/" alt="">
        </picture>
      </div>
      <div class="cell medium-6">
        <h2>Wow.</h2>
        <ul>
          <li>As workers login and increase their compliance they will earn points that they can redeem on company branded swag.</li>
          <li>Points can also be given to workers via scratch cards for attending safety meetings, a behaviour based observation, or going above and beyond in safety.</li>
        </ul>
      </div>
      <div class="cell medium-6">
        <h2>Watch.</h2>
        <ul>
          <li>We believe that with a culture of "Wow" you'll be able to retain workers longer, onboard easier, and have a real impact on the safety of your workers, all while promoting your company to other companies who will want to do business with you.</li>
        </ul>
      </div>
      <div class="cell medium-6">        
        <picture>
          <source srcset="https://via.placeholder.com/500x150" srcset1="https://via.placeholder.com/500x300" type="image/webp">
          <img src="assets/img/" alt="">
        </picture>
      </div>
      <div class="cell medium-6">        
        <picture>
          <source srcset="https://via.placeholder.com/500x150" srcset1="https://via.placeholder.com/500x300" type="image/webp">
          <img src="assets/img/" alt="">
        </picture>
      </div>
      <div class="cell medium-6">
        <h2>Succeed.</h2>
        <ul>
          <li>Pass your audit in record time with less headache. You'll be able to prove due diligence with a few clicks. Our customers even add their auditors into the software for easy access to any due diligence that they might want to see.</li>
          <li>Compliance becomes something that you don't only worry about when something goes wrong, but you'll finally get ahead of it and have time to do the things that matter more in your business.</li>
        </ul>
      </div>
    </div>
  </div>
</div>