---
title: How it Works for Rewards
description: Our worker incentive program is the add-on you need to transform your workplace culture.
robots: true
---

<div class="grid-y" style="height:300px">
  <div class="cell medium-4"></div>
  <div class="cell text-center">
    <h1>How it Works for Rewards</h1>
    <p>Workhub Rewards are an incentive program where we handle all the stress that comes along with stocking swag, delivering it, and keeping track of worker points. We believe that to truly transform the way businesses think about compliance they need to start with a way to get workers to buy-in. Now you might be thinking that, "Hey, it's their job to stay in compliance!" but sometimes to move that needle to get workers to <em>want</em> to stay in compliance it can take a push. We know that once workers have moved to that mindset it's a game changer for your company culture.</p>
  </div>
</div>
<div class="grid-y grid-container grid-margin-y" style="height:1200px">
  <div class="cell">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell medium-6">
        <h2>Award Points.</h2>
        <p>This part is simple, decide how you want to award points to your workers. Our favourite is to award points for each requirement completed in the software. As workers gain compliance they also earn points to spend on swag. With this method, you can set it and forget it. If you're feeling adventurous you can also hand out scratch cards with random point values on them. This could be for safety meeting attendance, going above and beyong in their duties, etc. Lastly, you can directly award points in the software, our customers always find very creative reasons to award points so we'll let you decide that part.</p>
      </div>
      <div class="cell medium-6">
        <picture>
          <source srcset="https://via.placeholder.com/500x150" srcset1="https://via.placeholder.com/500x300" type="image/webp">
          <img src="assets/img/" alt="">
        </picture>
      </div>
      <div class="cell medium-6">
        <picture>
          <source srcset="https://via.placeholder.com/500x150" srcset1="https://via.placeholder.com/500x300" type="image/webp">
          <img src="assets/img/" alt="">
        </picture>
      </div>
      <div class="cell medium-6">
        <h2>Redemption Time.</h2>
        <p>Now with points in their pocket, workers can login and redeem swag from our online catalog. We handle the inventory, the shipping and the purchasing of items for the catalog. We add an extra special touch to each order, your company's branding is on the package, each order includes a signed note from your compliance champion, there's a little *extra* something included in each order. </p>
      </div>
      <div class="cell medium-6">
        <h2>Culture Shift.</h2>
        <p>With your new rewards program, you're going to see changes in worker retention, compliance levels, average time to 100% compliance, and more. On average our customers who use Rewards up their company compliance by an additional 30%! Audit time is going to be that much easier and you're going to attract the type of people to your business that can move your business to the next level.</p>
      </div>
      <div class="cell medium-6">
        <picture>
          <source srcset="https://via.placeholder.com/500x150" srcset1="https://via.placeholder.com/500x300" type="image/webp">
          <img src="assets/img/" alt="">
        </picture>
      </div>
    </div>
  </div>
</div>
<div class="grid-container grid-x grid-padding-x">
  <div class="cell medium-5 medium-offset-1 large-offset-3">
    <ul class="pricing-table-pro" data-equalizer-watch>
      <li class="title">Per Point Cost</li>
      <li class="price">25¢</li>
      <li class="description">1 point has the purchasing power of 25¢</li>
      <li>Shipping included</li>
      <li>Branded Packaging</li>
      <li>Custom Permissions</li>
      <li>Only Invoiced on Redemption</li>
      <li><a class="button large" style="color: white" href="{{root}}signup.html">Get Started Now</a></li>
    </ul>
  </div>
</div>
<div class="grid-y" style="height:150px">
  <div class="cell">    
    <h2 class="text-center">Frequently Asked Questions.</h2>
  </div>
</div>
<div class="grid-x grid-container grid-padding-x">
  <div class="cell">
    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">What if a worker quits my company and they haven't used their points?</a>
        <div class="accordion-content" data-tab-content>
          <p>Since we only invoice on redemption their points essentially go with them. If they happen to come back their points are there waiting to be redeemed.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">How does shipping work?</a>
        <div class="accordion-content" data-tab-content>
          <p>With the volume we ship we get fantastic deals for our parcel delivery. We pass on the real shipping costs to you and round down the cost 99% of the time. We don't charge extra for packaging or for labour.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Can I request items for the catalog?</a>
        <div class="accordion-content" data-tab-content>
          <p>Sure! Our expert purchasers regularly consult with customers on items that their workers would like.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Can I add my own items to the catalog?</a>
        <div class="accordion-content" data-tab-content>
          <p>Most definitely. We'll work with you to get your items to have a nicely polished listing and then when workers redeem, you get an email letting you know and of course, we don't charge anything for items redeemed that you have on stock.</p>
        </div>
      </li>
    </ul>   
  </div>   
</div>
{{> small-signup-button }}