---
title: A Better Way to Manage Workplace Compliance
description: Workhub provides compliance software and recognition programs that help small and medium-sized businesses create and maintain safe, aligned, and diligent workplaces.
keywords: Compliance Software, Workplace Safety, Workplace Culture, EHS Software
---

<div class="grid-y grid-frame main-background">
  <div class="cell small-1 medium-2"></div>
  <div class="cell">
    <div class="grid-x grid-container grid-padding-x">
      <div class="cell medium-5">
        <!-- <h1>Worker Focused Software to Better Manage Compliance.</h1> -->
        <h1>All-in-one business Compliance Management Software</h1>
        <br>
        <br>
      </div>
      <div class="cell">
        <!-- <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/01/31/08/man-phone.jpg?w968h681" /> -->
      </div>
      <div class="cell medium-5">
        #1 Compliance Software
        <br>
        <br>
        Easy to Use
        <br>
        <br>
        No Credit Card Needed
        <br>
        <br>
        <a href="{{root}}signup.html" class="button large secondary" style="color: white !important">Start Free Trial</a>
      </div>
    </div>
  </div>
  <div class="cell small-4 medium-5"></div>
  <div class="cell" data-smooth-scroll>
    <div class="grid-x grid-padding-x grid-container align-center">
      <div class="cell medium-3 align-self-bottom text-center">
        <a href="#readmore"><img src="{{root}}assets/img/index/arrow.png" alt="Read More"></a>
      </div>
    </div>
  </div>
</div>

<div class="grid-x grid-padding-x grid-container sections" id="readmore">
  <div class="cell medium-4">
    <div class="grid-x">
      <div class="cell medium-1">
        <img src="https://safetysync.com/assets/img/ben-ico-1.webp" alt="Comp Icon">
      </div>
      <div class="cell medium-10">
        <h4>The Most Comprehensive Solution</h4>
        <p>We've got it all: online safety training, certificate tracking, policy distribution, competencies, equipment maintenance, and many more features.</p>
      </div>
    </div>
  </div>
  <div class="cell medium-4">
    <div class="grid-x">
      <div class="cell medium-1">
        <img src="https://safetysync.com/assets/img/ben-ico-2.webp" alt="Comp Icon">
      </div>
      <div class="cell medium-10">
        <h4>The Online Advantage</h4>
        <p>There's nothing to install with Workhub. Access our software from any computer or phone and be confident that your workers can too.</p>
      </div>
    </div>
  </div>
  <div class="cell medium-4">
    <div class="grid-x">
      <div class="cell medium-1">
        <img src="https://safetysync.com/assets/img/ben-ico-3.webp" alt="Comp Icon">
      </div>
      <div class="cell medium-10">
        <h4>Be on the Right Side of the Law</h4>
        <p>You've got audits and legislation to satisfy. Take the worry out of both by ensuring your compliance program is being effectively managed and kept up to date.</p>
      </div>
    </div>    
  </div>
  <div class="cell medium-4">
    <div class="grid-x">
      <div class="cell medium-1">
        <img src="https://safetysync.com/assets/img/ben-ico-4.webp" alt="Comp Icon">
      </div>
      <div class="cell medium-10">
        <h4>Compatibility with Your Industry</h4>
        <p>Whether you call it
          <abbr title="Environmental, Health, & Safety">EHS</abbr>,
          <abbr title="Health, Safety, & Environmental">HSE</abbr>,
          <abbr title="Safety, Health, & Environmental">SHE</abbr>,
          <abbr title="Occupational Health & Safety">OHS</abbr>, or
          <abbr title="Occupational Health & Safety Management System">OHSMS</abbr> software, we've got you covered. Our focus is compliance minded companies across all industries.</p>
      </div>
    </div>    
  </div>
  <div class="cell medium-4">
    <div class="grid-x">
      <div class="cell medium-1">
        <img src="https://safetysync.com/assets/img/ben-ico-5.webp" alt="Comp Icon">
      </div>
      <div class="cell medium-10">
        <h4>It's Affordable</h4>
        <p>Bang for your $5. There are no extra cost add-ons. You get complete access to all our features for one low price.</p>
      </div>
    </div>
  </div>
  <div class="cell medium-4">
    <div class="grid-x">
      <div class="cell medium-1">
        <img src="https://safetysync.com/assets/img/ben-ico-6.webp" alt="Comp Icon">
      </div>
      <div class="cell medium-10">
        <h4>Compliance Evolution</h4>
        <p>Accounting, sales, and operations all have their own dedicated software. Why not compliance? Workhub is the evolution of spreadsheet and paper based compliance programs.</p>
      </div>
    </div>
  </div>
</div>

<div class="grid-y grid-container show-for-small" style="height:100px">
</div>

<div class="grid-y grid-container show-for-medium" style="height:150px">
</div>

<div class="grid-x grid-container">
  <div class="cell text-center">
    <h2>Capture Due Diligence</h2>
  </div>

  <div class="embla">
    <div class="embla__container">

      <!-- Slide 1 -->
      <div class="embla__slide">
        <div id="feature1">
          <div class="grid-container grid-x grid-padding-x">
            <div class="cell medium-5">
              <h4>Free Training Courses</h4>
              <p>With over 60 pre-built safety and awareness courses you can be sure we've got topics relevant to your business. You can also upload your own custom training to supplement and make sure that the training you provide your workers is truly relevant to your business.</p>
            </div>
            <div class="cell auto">
              <picture>
                <source srcset="https://via.placeholder.com/10" class="carousel-img" srcset1="{{root}}assets/img/index/courses.webp" type="image/webp">
                <img src="{{root}}assets/img/index/courses.png" alt="Courses Software Example">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="embla__slide">
        <div id="feature2">
          <div class="grid-container grid-x grid-padding-x">
            <div class="cell medium-5">
              <h4>Procedures</h4>
              <p>Safe operating procedures are the backbone of ensuring unsafe tasks are properly documented. Workers have access to all safe operating procedures at your business and you can track reviews performed.</p>
            </div>
            <div class="cell auto">
              <picture>
                <source srcset="https://via.placeholder.com/10" class="carousel-img" srcset1="{{root}}assets/img/index/procedures.webp" type="image/webp">
                <img src="{{root}}assets/img/index/procedures.png" alt="Procedures Software Example">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="embla__slide">
        <div id="feature3">
          <div class="grid-container grid-x grid-padding-x">
            <div class="cell medium-5">
              <h4>Policies</h4>
              <p>Upload safety policies from your safety manual and organize them just like they appear in your table of contents. You can also use our huge catalog of templates to jump start your manual if you don't have one. Rather than having workers sign off on having read the whole manual (they never do) workers will be required to study each policy independently and sign off on each one.</p>
            </div>
            <div class="cell auto">
              <picture>
                <source srcset="https://via.placeholder.com/10" class="carousel-img" srcset1="{{root}}assets/img/index/policies.webp" type="image/webp">
                <img src="{{root}}assets/img/index/policies.png" alt="Policies Software Example">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="embla__slide">
        <div id="feature4">
          <div class="grid-container grid-x grid-padding-x">
            <div class="cell medium-5">
              <h4>Certificates/Licenses/Permits/Tickets</h4>
              <p>Throw out the old storage cabinet! Seriously, we've developed this feature so that you can do just that. Our software allows workers and safety teams to track the expiration dates. Digital copies and certificates are stored and email reminders are sent out when these are going to expire. Get an overview of expiring items (you can even schedule training right from our software).</p>
            </div>
            <div class="cell auto">
              <picture>
                <source srcset="https://via.placeholder.com/10" class="carousel-img" srcset1="{{root}}assets/img/index/certificates.webp" type="image/webp">
                <img src="{{root}}assets/img/index/certificates.png" alt="Certificates Software Example">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 5 -->
      <div class="embla__slide">
        <div id="feature5">
          <div class="grid-container grid-x grid-padding-x">
            <div class="cell medium-5">
              <h4>Competencies</h4>
              <p>Before your workers can work independently they need to be competent, right? In Workhub you can specify what exactly makes a worker competent to do their job safely and setup a review process for the worker to be assessed on these details. You can then easily track which workers can work in the field without supervision.</p>
            </div>
            <div class="cell auto">
              <picture>
                <source srcset="https://via.placeholder.com/10" class="carousel-img" srcset1="{{root}}assets/img/index/competencies.webp" type="image/webp">
                <img src="{{root}}assets/img/index/competencies.png" alt="Competencies Software Example">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 6 -->
      <div class="embla__slide">
        <div id="feature6">
          <div class="grid-container grid-x grid-padding-x">
            <div class="cell medium-5">
              <h4>Forms</h4>
              <p>Workhub allows you to use our software as an online storage solution where workers can submit forms directly into the system. Workhub also allows you to get rid of paper forms completely and move to online form tools. Our software integrates with your online form builder which can free up time spent on fax machines and scanning documents one by one.</p>
            </div>
            <div class="cell auto">
              <picture>
                <source srcset="https://via.placeholder.com/10" class="carousel-img" srcset1="{{root}}assets/img/index/forms.webp" type="image/webp">
                <img src="{{root}}assets/img/index/forms.png" alt="Forms Software Example">
              </picture>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="features-btn-array grid-x grid-container align-center">
    <div class="features-btn" id="0">
      <img src="{{root}}assets/img/components/training.svg" alt="Training Component Icon">
      <div>Courses</div>
      <svg background="#fd7411" width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-50.000000, -70.000000)" stroke="#E7ECF9" stroke-width="2">
            <path d="M60,71 C55.0266926,71 51,74.9772853 51,79.8773006 L51,221.122699 C51,226.022715 55.0266926,230 60,230 L201,230 C205.973307,230 210,226.022715 210,221.122699 L210,79.8773006 C210,74.9772853 205.973307,71 201,71 L60,71 Z"></path>
          </g>
        </g>
      </svg>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-277.000000, -117.000000)" stroke="#0F5BC3" stroke-width="2">
            <path d="M287,118 C282.026693,118 278,121.977285 278,126.877301 L278,268.122699 C278,273.022715 282.026693,277 287,277 L428,277 C432.973307,277 437,273.022715 437,268.122699 L437,126.877301 C437,121.977285 432.973307,118 428,118 L287,118 Z" class="animate-path"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="features-btn" id="1">
      <img src="{{root}}assets/img/components/procedure.svg" alt="Procedures Component Icon">
      <div>Procedures</div>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-50.000000, -70.000000)" stroke="#E7ECF9" stroke-width="2">
            <path d="M60,71 C55.0266926,71 51,74.9772853 51,79.8773006 L51,221.122699 C51,226.022715 55.0266926,230 60,230 L201,230 C205.973307,230 210,226.022715 210,221.122699 L210,79.8773006 C210,74.9772853 205.973307,71 201,71 L60,71 Z"></path>
          </g>
        </g>
      </svg>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-277.000000, -117.000000)" stroke="#0F5BC3" stroke-width="2">
            <path d="M287,118 C282.026693,118 278,121.977285 278,126.877301 L278,268.122699 C278,273.022715 282.026693,277 287,277 L428,277 C432.973307,277 437,273.022715 437,268.122699 L437,126.877301 C437,121.977285 432.973307,118 428,118 L287,118 Z" class="animate-path"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="features-btn" id="2">
      <img src="{{root}}assets/img/components/policy.svg" alt="Policies Component Icon">
      <div>Policies</div>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-50.000000, -70.000000)" stroke="#E7ECF9" stroke-width="2">
            <path d="M60,71 C55.0266926,71 51,74.9772853 51,79.8773006 L51,221.122699 C51,226.022715 55.0266926,230 60,230 L201,230 C205.973307,230 210,226.022715 210,221.122699 L210,79.8773006 C210,74.9772853 205.973307,71 201,71 L60,71 Z"></path>
          </g>
        </g>
      </svg>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-277.000000, -117.000000)" stroke="#0F5BC3" stroke-width="2">
            <path d="M287,118 C282.026693,118 278,121.977285 278,126.877301 L278,268.122699 C278,273.022715 282.026693,277 287,277 L428,277 C432.973307,277 437,273.022715 437,268.122699 L437,126.877301 C437,121.977285 432.973307,118 428,118 L287,118 Z" class="animate-path"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="features-btn" id="3">
      <img src="{{root}}assets/img/components/certificate.svg" alt="Certificates Component Icon">
      <div>Certificates</div>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-50.000000, -70.000000)" stroke="#E7ECF9" stroke-width="2">
            <path d="M60,71 C55.0266926,71 51,74.9772853 51,79.8773006 L51,221.122699 C51,226.022715 55.0266926,230 60,230 L201,230 C205.973307,230 210,226.022715 210,221.122699 L210,79.8773006 C210,74.9772853 205.973307,71 201,71 L60,71 Z"></path>
          </g>
        </g>
      </svg>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-277.000000, -117.000000)" stroke="#0F5BC3" stroke-width="2">
            <path d="M287,118 C282.026693,118 278,121.977285 278,126.877301 L278,268.122699 C278,273.022715 282.026693,277 287,277 L428,277 C432.973307,277 437,273.022715 437,268.122699 L437,126.877301 C437,121.977285 432.973307,118 428,118 L287,118 Z" class="animate-path"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="features-btn" id="4">
      <img src="{{root}}assets/img/components/competency.svg" alt="Competencies Component Icon">
      <div>Competencies</div>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-50.000000, -70.000000)" stroke="#E7ECF9" stroke-width="2">
            <path d="M60,71 C55.0266926,71 51,74.9772853 51,79.8773006 L51,221.122699 C51,226.022715 55.0266926,230 60,230 L201,230 C205.973307,230 210,226.022715 210,221.122699 L210,79.8773006 C210,74.9772853 205.973307,71 201,71 L60,71 Z"></path>
          </g>
        </g>
      </svg>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-277.000000, -117.000000)" stroke="#0F5BC3" stroke-width="2">
            <path d="M287,118 C282.026693,118 278,121.977285 278,126.877301 L278,268.122699 C278,273.022715 282.026693,277 287,277 L428,277 C432.973307,277 437,273.022715 437,268.122699 L437,126.877301 C437,121.977285 432.973307,118 428,118 L287,118 Z" class="animate-path"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="features-btn" id="5">
      <img src="{{root}}assets/img/components/form.svg" alt="Forms Component Icon">
      <div>Forms</div>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-50.000000, -70.000000)" stroke="#E7ECF9" stroke-width="2">
            <path d="M60,71 C55.0266926,71 51,74.9772853 51,79.8773006 L51,221.122699 C51,226.022715 55.0266926,230 60,230 L201,230 C205.973307,230 210,226.022715 210,221.122699 L210,79.8773006 C210,74.9772853 205.973307,71 201,71 L60,71 Z"></path>
          </g>
        </g>
      </svg>
      <svg width="161px" height="161px" viewBox="0 0 161 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.699999988">
          <g id="Artboard" transform="translate(-277.000000, -117.000000)" stroke="#0F5BC3" stroke-width="2">
            <path d="M287,118 C282.026693,118 278,121.977285 278,126.877301 L278,268.122699 C278,273.022715 282.026693,277 287,277 L428,277 C432.973307,277 437,273.022715 437,268.122699 L437,126.877301 C437,121.977285 432.973307,118 428,118 L287,118 Z" class="animate-path"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>

<div class="grid-y grid-container show-for-small" style="height:100px">
</div>

<div class="grid-y grid-container show-for-medium" style="height:150px">
</div>

<div class="grid-x grid-container" style="display:flex; flex-flow: column">
  <!-- <div class="cell text-center">
    <h4>More than 1000 companies use Workhub to supercharge their company culture.</h4>
  </div> -->
  <div class="cell text-center" style="padding-bottom: 50px;">
      <h2>Join Our Community</h2>
  </div>
  <div class="grid-x grid-container" style="align-items:center; justify-content: space-evenly; width: 100%; padding-top: 20px; padding-bottom: 80px;">
      <div style="text-align: center;">
          <div style="font-size: 1.5rem;">359,868</div>
          <p>Users</p>
      </div>
      <div style="text-align: center;">
          <div style="font-size: 1.5rem;">21,045</div>
          <p>Happy Companies</p>
      </div>
      <div style="text-align: center;">
          <div style="font-size: 1.5rem;">11,379,947</div>
          <p>Quizzes Taken</p>
      </div>
      <div style="text-align: center;">
          <div style="font-size: 1.5rem;">2,416,366</div>
          <p>Documents Tracked</p>
      </div>
      <div style="text-align: center;">
        <div style="font-size: 1.5rem;">∞</div>
        <p>Restless Nights Saved</p>
      </div>
  </div>
  <div class="grid-y grid-container padding-vertical-3 medium-9" style="align-items: center; border-radius: 15px; box-shadow: 0 1px 8px 0.00px rgba(0, 0, 0, 0.17); text-align: left;">
      <div>
        <div class="grid-x">
            <div class="small-12 medium-3 columns text-center">
              <picture>
                  <source srcset="https://via.placeholder.com/1" srcset1="assets/img/reviews/g2pic.webp" type="image/webp">
                  <img src="assets/img/reviews/g2pic.jpg" alt="Review Author" style="border-radius:50%">
              </picture>
            </div>
            <div class="small-12 medium-8 columns">
              <p>I enjoy the ease of access to various legislations, competency tracking and free training (with the option of custom course design) to help track extensive information. I often use this system to show clients procedures reviews have occurred and competencies are being tracked. The SMS bulletin system is an invaluable (and free with subscription) tool for sending alerts and being able to track when clients request records of our information sharing systems.</p>
              <p><b>Shaun Johnstone</b> (HSE Manager at FluidPRO Oilfield Services Ltd.)</p>
            </div>
        </div>
        <hr/>
        <div>
            <div class="columns">
              <div class="text-center">
                  <a href="https://www.g2.com/products/safetysync/reviews" rel="noopener" target="_blank">See why our users love us on G2.</a>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="grid-y grid-container" style="height:100px">
</div>

<div class="grid-x grid-container medium-3" style="justify-content: center;">
  <div class="grid-y grid-container small" style="margin: 0; padding: 0;">
    <!-- <div class="aegion"> -->
    <div class="clients aegion">
      <picture>
        <source srcset="https://via.placeholder.com/97" srcset1="assets/img/clogos/aegion.webp" type="image/webp">
        <img class="client-image" src="assets/img/clogos/aegion.png" alt="Aegion Corporation Logo">
      </picture>
    </div>
    <!-- <div class="surerus"> -->
    <div class="clients surerus">
      <picture>
        <source srcset="https://via.placeholder.com/76" srcset1="assets/img/clogos/surerus.webp" type="image/webp">
        <img class="client-image" src="assets/img/clogos/surerus.png" alt="Surerus Murphy JV Logo">
      </picture>
    </div>
    <!-- <div class="viking"> -->
    <div class="clients viking">
      <picture>
        <source srcset="https://via.placeholder.com/46" srcset1="assets/img/clogos/viking.webp" type="image/webp">
        <img class="client-image" src="assets/img/clogos/viking.png" alt="Viking Air Logo">
      </picture>
    </div>
  </div>
  <div class="grid-y grid-container" style="margin: 0; padding: 0;">
    <!-- <div class="petronas"> -->
    <div class="clients petronas">
      <picture>
        <source srcset="https://via.placeholder.com/225" srcset1="assets/img/clogos/petronas.webp"
          type="image/webp">
        <img class="client-image" src="assets/img/clogos/petronas.png" alt="Petronas Canada Logo">
      </picture>
    </div>
    <!-- <div class="nzrb"> -->
    <div class="clients nzrb">
      <picture>
        <source srcset="https://via.placeholder.com/78" srcset1="assets/img/clogos/nzrb.webp" type="image/webp">
        <img class="client-image" src="assets/img/clogos/nzrv.png" alt="New Zealand Racing Board Logo">
      </picture>
    </div>
    <!-- <div class="cenovus"> -->
    <div class="clients cenovus">
      <picture>
        <source srcset="https://via.placeholder.com/77" srcset1="assets/img/clogos/cenovus.webp" type="image/webp">
        <img class="client-image" src="assets/img/clogos/cenovus.png" alt="Cenovus Logo">
      </picture>
    </div>
  </div>
  <div class="grid-y grid-container"  style="margin: 0; padding: 0;">
    <!-- <div class="petrocanada"> -->
    <div class="clients petrocanada">
      <picture>
        <source srcset="https://via.placeholder.com/117" srcset1="assets/img/clogos/petrocanada.webp" type="image/webp">
        <img class="client-image" src="assets/img/clogos/petrocanada.png" alt="Petro-Canada Logo">
      </picture>
    </div class="clients">
    <!-- <div class="gfl"> -->
    <div class="clients gfl">
      <picture>
        <source srcset="https://via.placeholder.com/131" srcset1="assets/img/clogos/gfl.webp" type="image/webp">
        <img class="client-image" src="assets/img/clogos/gfl.png" alt="GFL Logo">
      </picture>
    </div>
    <!-- <div class="atco"> -->
    <div class="clients atco">
      <picture>
        <source srcset="https://via.placeholder.com/82" srcset1="assets/img/clogos/atco.webp" type="image/webp">
        <img class="client-image" src="assets/img/clogos/atco.png" alt="Atco Logo">
      </picture>
    </div>
  </div>
</div>

<div class="grid-y grid-container show-for-small" style="height:100px">
</div>

<div class="grid-y grid-container show-for-medium" style="height:150px">
</div>

<div class="grid-x grid-container text-center">
  <div class="cell medium-2"></div>
  <div class="cell">
    <h4>Read what they're saying about Workhub.</h4>
  </div>
  <div class="cell text-center">
    <div class="grid-x">
      <div class="cell medium-6 medium-offset-3">
        <a title="SafetySync is a leader in Environmental Health and Safety on G2" href="https://www.g2.com/products/safetysync/reviews?utm_source=rewards-badge">
          <picture>
            <source srcset="https://via.placeholder.com/10" srcset1="https://images.g2crowd.com/uploads/report_medal/image/652/medal.svg" type="image/svg">
            <img style="width: 125px;" alt="SafetySync is a leader in Environmental Health and Safety on G2" src="https://images.g2crowd.com/uploads/report_medal/image/652/medal.svg" />
          </picture>          
        </a>
        <a title="Users love Workhub on G2" href="https://www.g2.com/products/safetysync/reviews" rel="noopener" target="_blank">
          <picture>
            <source srcset="https://via.placeholder.com/1" srcset1="https://www.g2.com/assets/product-badges/users-love-us-f148a73ee79a16e26d702a738b3934c1b7dde9703626c07ea157ebbfa75a89fa.svg" type="image/svg">
            <img src="https://www.g2.com/assets/product-badges/users-love-us-f148a73ee79a16e26d702a738b3934c1b7dde9703626c07ea157ebbfa75a89fa.svg" style="width: 125px;" alt="Users love Workhub on G2">
          </picture>
        </a>
        <a title="Workhub Capterra Reviews" href='http://www.capterra.com/reviews/137350/SafetySync?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge' rel="noopener" target="_blank">
          <picture>
            <source srcset="https://via.placeholder.com/1" srcset1="https://assets.capterra.com/badge/e6b469a78d0fb4c94a8ddd63ec4f3122.png?v=2096904&p=137350" type="image/png">
            <img src='https://assets.capterra.com/badge/e6b469a78d0fb4c94a8ddd63ec4f3122.png?v=2096904&p=137350' alt="Capterra Reviews Logo" />
          </picture>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid-y grid-container show-for-small" style="height:100px">
</div>

<div class="grid-y grid-container show-for-medium" style="height:150px">
</div>

<div class="grid-x">
  <div class="cell">
    <div class="grid-container grid-x grid-padding-x">
      <div class="cell text-center">
        <h4>What are you waiting for? It's only</h4>
        <h4 style="font-size: 72px; font-weight: bold;">$5</h4>
        <h5>per user / per month</h5>
        <br>
        <br>
        <a href="{{root}}signup.html" class="button large secondary" style="color: white !important">Start Free Trial</a>
      </div>
    </div>
  </div>
</div>