<!-- ---
title: Pass a Lesson
robots: true
---
<form data-abide novalidate>
  <div class="grid-y grid-container" style="height:600px">
    <div class="cell medium-1"></div>
    <div class="cell">
      <div class="grid-x">
        <div class="cell medium-4 medium-offset-4">
          <div class="cell">
            <div class="group">
              <input id="WorkerID" type="number" required>
              <span class="bar"></span>
              <label>Worker ID</label>
            </div>
          </div>
          <div class="cell">
            <div class="group">
              <select name="Lesson" id="Lesson" required>
                {{#each lessons}}
                <option value="{{LessonVersionID}}">{{CourseName}} - {{LessonName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="cell">
            <button class="button" type="submit" value="Submit">Yeet</button>
          </div>
          <div class="cell" id="finish-message" style="display:none">
            <p>wow you done did it</p>
            <img src="{{root}}assets/img/silly/cat.gif" alt="cat">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document)
    .on("submit", function (ev) {
      ev.preventDefault();
      LessonComplete($("#WorkerID").val(), $("#Lesson").val(), $('#finish-message'));
    });
  // Uses the fetch API to POST the request.
  function LessonComplete(WorkerID, LessonVersion, finish) {
    (async () => {
      const rawResponse = await fetch('https://api.safetysync.com/training/startLesson', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          "LessVrsnID": LessonVersion,
          "EmplID": WorkerID,
          "isCompleted": 1
        })
      });
      const content = await rawResponse.json();
      console.log(content);
    })();
    (async () => {
      const rawResponse = await fetch('https://api.safetysync.com/training/CompleteLesson', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          "LessVrsnID": LessonVersion,
          "EmplID": WorkerID,
          "isCompleted": 1
        })
      });
      const content = await rawResponse.json();      
      finish.css("display", "block");
      console.log(content);
    })();
  }
</script> -->