---
title: Our Story
description: Here's a tale of where we've been and where we've gone from there!
---
<div class="grid-x grid-container grid-padding-y align-middle">
  <div class="cell text-center">
    <h1>This is our Story.</h1>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2006</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>Company founder Brian Nodwell, who in 2004 is a CIO and employee number 4 at a 2000 person company, is tasked with solving safety management issues and can’t find software or a good solution anywhere. At the time, software as a service wasn’t exactly a thing either. Realizing there’s a market for this he cashes in his stock options and incorporates Drilling Works Corp in 2006. A new office is purchased directly above a nightclub (that can’t go wrong right?) and staff access the office via a rickety fire escape in the back. Without knowing what we’re building quite yet we begin brainstorming names for the new software. Our first 12 choices are already taken and so we settle on ‘SafetySync’.</p>
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2007</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>As the groundwork for the new software is laid out, the team stays hydrated on slurpees and greasy donairs from a nearby eatery. A fancy Saeco espresso machine arrives and development pace accelerates. We realize we should probably get a
      1-800 number, 1-800-4SAFETY is already taken. The team settles for 1-866-668-6402. A number sure to be memorable. Our first feature is launched, online training courses. WHMIS and TDG are the first two courses available.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2008</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>The sales team is discouraged to learn that established players in the training industry will always undercut us on price. We decide to switch to a freemium model and make all training free. Try undercutting that! After our first
      customer signs up for the free training they realize that they really need a full suite of software to manage safety. They convert to the paid plan at $9.85 per worker/month and we’re off to the races. Our SDS feature launches. Duron
      15W-40 Heavy Duty Engine Oil is the first SDS uploaded. Bulletins and Alerts launches next followed closely by Company Policies. Our first policy related to not smoking near the exits is promptly ignored by all neighbouring nightclub
      patrons.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2009</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>Certificate tracking feature launches and the first certificate uploaded is an expired driver’s license 😐. The 100th company signs up to check out our software. Safe Operating Procedures and Forms features are launched next. The first
      set of compliance emails are sent out, compliance with that company’s safety program averages just 37%. It’s a start though.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2010</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>Surveys launches and the first respondent strongly agrees that “My coworkers are competent to safety perform their work assignments.” Tired of working above a nightclub, we move to a more modern (built 1917!) building 10 blocks further East in Calgary’s Warehouse District. Concerned with compliance levels for our customers we launch our Safety Rewards feature. Companies can finally incentivize their workers to complete their requirements. It works and we see a steady
      increase in compliance for companies that use Rewards!</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2011</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>Unsure of why we chose a random price of $9.85 per worker/month, we decide to change the price to something that rolls off the tongue easier. $6.80… wait…. 2 seasons later we’ve 10xed the companies signing up. We hit the magical number of 1000 companies signed up. A worker makes the 100,000th policy acknowledgement, it’s an Earthquake Emergency Response Plan. 11 months later there is a 3.8 magnitude earthquake in Quebec. No fatalities. Coincidence?</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2012</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>Companies signed up double. We begin to believe that there may actually be a career in safety software development. The milestones are coming at an accelerated pace. The 500,000th quiz is taken. Worker barely passes with an 84% score(pass rate was set to 80%). The volume of invoices reaches an unmanageable level. We purchase an envelope sealer and postage mailer to keep up. By the end of the year companies signed up has tripled to 3000. We’re definitely going to need more staff. Hiring accelerates but the wearing of many hats for all staff stays the same.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2013</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>The Great Alberta flood of 2013 washes away our office. Nodwell literally wades through the waters in our parking lot rescuing email servers and phone systems to relocate. With hundreds of businesses affected and all temporary office
      space filled up, we end up working out of Nodwell’s sunroom at his house, shoulder to shoulder for a month. Staff really gets to know each other in that time. After a month of commuting to the suburbs, our office is back in tip top shape
      with some upgrades done to the layout. We celebrate by purchasing dozens of 30” 2560x1600 resolution monitors and all staff now have a nice panoramic desktop layout.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2014</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>Revenue doubles for the third straight year and the sales team has dozens of new customers ready to launch for the 1st quarter of 2014. Company count increases to 5000. Back to the $6.80 price, we’re ‘shocked’ to discover how many
      customers think we’re saying SIX HUNDRED and EIGHTY dollars per worker/month when we tell them the price. We finally settle on the perfect sweet spot price. FIVE BUCKS per worker/month. Pricing confusion ends. We see competitors starting
      to hide their prices. We start stocking a pantry with unlimited meals, snacks, and drinks, naturally staff sets record for longest hackathon. Alarmed by the sudden increase in caloric intake we initiate fitbit step competitions. The number
      of office walks increases. We allow customers to create their own custom courses. Positive feedback scores plummet. Our customers start to appreciate how difficult it is to make engaging training content.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2015</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>Oil prices hit a 6 year low of $42. 50% of our customer base deactivate over 40% of their staff. Ouch. Other industries continue to grow so it’s a good thing we didn’t build our software just around the energy industry. Company count
      increases to 7000 companies. User count breaks 125,000. Our competitor, Intelex, announces $160 million capital raise. Completely coincidentally we receive six inquiries in the next four weeks from venture capitalists. After team discussions we decide that we’re already blowing up with help from venture capitalists.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2016</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>With a mature product, work begins on a grander marketing strategy. First step, is building a new website. Again. Support team soon receives calls from users worried that their accounts have been compromised by Chinese hackers. It
      looks like our new site wide update that allowed users to change the language displayed had some...issues. Revenue explodes 25% in just 4 months, prompting someone in our daily huddle to ask if we’re a high growth company again. Shh!
      Don’t jinx it. We are shocked to notice how many of our customers are using SafetySync to manage more than just safety. We purchase a new domain name workhub.com for 25k. Maybe we’ll use that name one day.</p>
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2017</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>After 10 years of only allowing administrators to assign compliance requirements by position, we add the ability to assign by location. Server query load quadruples. At the SafetySync AGM, shareholders are informed that the company made
      roughly <a href="https://money.cnn.com/2017/04/14/technology/uber-financials/index.html" title="Uber Money Loss" target="_blank" rel="noopener">$2.8 Billion more than Uber in 2016.</a> The death of Adobe Flash is inevitable and work begins on converting 200 hours of training into HTML5. Looks like we need to hire more content developers. We beat the Rule of 40 by over 30 percent in 2017. Management considers spending a bit more money in 2018.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2018</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>We move into a beautifully renovated 1950 m2 office recently vacated by a tech company that tragically needed to downsize. Thanks for the free tenant improvements. Bilingual courses are all the rage and our French content continues to grow. Rent expenses inexplicably increase by 5 times. Not sure how that happened, but Ted Talk Tuesday lunches are put on hold for a bit while we recover from being house poor. A major redesign of our software is launched in beta and people thought a mobile design would never happen! With the addition of “The Phoenix Project”, our book library grows to 200 titles.</p>      
    </div>
  </div>
  <div class="cell medium-2">
    <div class="year-circle"><p>2019</p></div>
  </div>
  <div class="cell medium-10">
    <div class="callout large global-shadow">
      <p>As work continues on our software redesign, we start to think that maybe it’s also a good time to change our name and use that workhub.com domain. We rebrand our beta as Workhub and start preparing for the inevitable name change. After the death of our beloved Saeco Espresso machine and months of slumming it with a Keurig we make a big upgrade to the Gaggia Anima. Lattes are back. Ping pong tables, basketball hoops and our badminton court are all setup. Exercise and quality of life improves for everyone.</p>      
    </div>
  </div>
</div>