---
title: Pricing
description: With our simple pricing you can be sure you're getting the best deal around!
---

<div class="grid-y" style="height:100px"></div>
<div class="grid-y grid-container">
  <div class="cell medium-1"></div>
  <div class="cell medium-1 text-center">
    <h1>Pricing to fit your Business.</h1>
  </div>
  <div class="cell" data-equalizer>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4 medium-offset-2 ">
        <ul class="pricing-table-basic global-shadow" data-equalizer-watch>
          <li class="title">Basic</li>
          <li class="price">$0</li>
          <li class="description">Free Forever</li>
          <li>Access to all Features</li>
          <li>1 mb per File Upload Limit</li>
          <li>No Data Exports</li>
          <li>Ad-supported</li>
          <li><a class="button large" style="color: white" href="{{root}}signup.html">Get Started Now</a></li>
        </ul>
      </div>
      <div class="cell medium-4">
        <ul class="pricing-table-pro global-shadow" data-equalizer-watch>
          <li class="title">Professional</li>
          <li class="price" style="color: white;">$<span id="price" style="color: white;">5</span></li>
          <li class="description">per user/month</li>
          <li>
            <div class="grid-x align-center">
              <div class="cell small-9 medium-7">
                <p id="usercount">Users: 1-49</p>
                <div class="slider" data-slider data-options="start: 1; end: 300; step: 100;">
                  <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderOutput" style="background-color: white;"></span>
                  <span class="slider-fill" data-slider-fill style="background-color: white;"></span>
                </div>
                <div class="hide">
                  <input type="number" id="sliderOutput">
                </div>
              </div>
            </div>
          </li>
          <li>Whitelabeling</li>
          <li>Branded Reports</li>
          <li>Custom Permissions</li>
          <li>Unlimited Data Exports</li>
          <li>Advanced Org Structuring</li>
          <li>10 mb per File Upload Limit</li>
          <li>Location Based Assignments</li>
          <li>Compliance Imports for New Hires</li>
          <li><a class="button large" href="{{root}}signup.html" style="background-color: white; color: #FD7411">Start a Free Trial</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="grid-y" style="height:100px"></div>
<div class="grid-y" style="height:100px">
  <div class="cell">
    <h2 class="text-center">Frequently Asked Questions.</h2>
  </div>
</div>
<div class="grid-x grid-container grid-padding-x">
  <div class="cell medium-8 medium-offset-2">
    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">What's considered a user?</a>
        <div class="accordion-content" data-tab-content>
          <p>We distinguish between two types of users, active and inactive. Any user marked active is invoiced. Inactive users are hibernated and don't have access to login or have their compliance tracked, we prorate the cost for these workers based on the time in the current month they were active. You choose when to set a user active or inactive.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Are there any onboarding costs?</a>
        <div class="accordion-content" data-tab-content>
          <p>No! We like to keep it simple. Your subscription fee is all you pay. Go ahead, ask our competitors about their upfront and onboarding costs.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">What if I have more than 500 users?</a>
        <div class="accordion-content" data-tab-content>
          <p>Workhub works great for thousands of users! Just keep in mind that we are an out-of-box solution and do not customize for individual needs. That said, we are continuously adding new features from our <a href="https://portal.productboard.com/workhub">Product Board</a> so feel free to suggest and vote on new features that will meet your needs. Please <a href="mailto:sales@workhub.com">contact sales</a> to discuss custom pricing.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Are admins or supervisors invoiced at a different rate than workers?</a>
        <div class="accordion-content" data-tab-content>
          <p>All users are invoiced at the same rate and you don't pay extra to make someone an administrator or supervisor.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Is there a contract?</a>
        <div class="accordion-content" data-tab-content>
          <p>Nope. We invoice month to month and you are free to cancel at any time.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">I have seasonal workers, what can I do about them?</a>
        <div class="accordion-content" data-tab-content>
          <p>Our subscription model is perfect for this, since you don't pay in advance you never pay for seats that won't be used. We prorate the cost for users based on the day they were added or removed. This allows you
            to only pay for users that currently need access.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">How much storage space do I get?</a>
        <div class="accordion-content" data-tab-content>
          <p>We believe storage limits get in the way of using software effectively. Both plans have unlimited storage space so you can truly use it for as long as you like without worrying about running out of space. I suppose if you started storing terabytes of data, we'd probably have some questions, but that's something that we would want to optimize on our end, not yours.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

{{> small-signup-button}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  // Slider Pricing Code
  $(document).ready(function () {
    $('.sliderbox, .slider,.slider-fill,.slider-handle').mouseup(function (event) {
      window.setTimeout(CalculateUserPrice, 500);
    });
    $('.sliderbox, .slider,.slider-fill,.slider-handle').mousemove(function (event) {
      window.setTimeout(CalculateUserPrice, 500);
    });

    function CalculateUserPrice() {
      var priceRange = [
        "5",
        "4<sup style='font-size:1rem;top:-45px;'>75</sup>",
        "4<sup style='font-size:1rem;top:-45px;'>50</sup>",
        "4<sup style='font-size:1rem;top:-45px;'>25</sup>"
      ];
      var userRange = ["1", "100", "200", "300", "400"];
      var userCount = ["Users: 1-49", "Users: 50-99", "Users: 100-199", "Users: 200-499"
      ];
      var sliderOutputVal = $('#sliderOutput').val();
      for (var i = 0; i < userRange.length; i++) {
        if (userRange[i] == sliderOutputVal) {
          $('#usercount').text(userCount[i]);
          $('#price').html(priceRange[i]);
        }
      }
    }
  });
</script>