---
title: Privacy
description: We don't share your data with third parties and we don't expose it in reckless ways.
---
<div class="grid-x grid-container">
  <div class="cell">
    <h1>Privacy Policy</h1>
    <p>Thanks for entrusting Workhub with your personal and corporate information. Your privacy is as important to us as it is to you, and we want you to know how we're handling it.</p>
    <p>Workhub is committed to ensuring that your privacy is protected. If we ask you to provide certain information so that you can be identified when using this website, then you can rest assured that it will only be used in accordance with this privacy statement.</p>
    <h2>What we store</h2>
    <p>If you're just browsing the website, we collect the same basic information that most websites collect. We use common technology such as cookies and web server logs. We collect this from everybody, whether they have an account or not. The information we collect about all visitors to our website includes the visitor’s browser type, language preference, referring site, additional pages requested, and the date and time of each visitor request.</p>
    <h2>What we do with the information we gather</h2>
    <ul>
      <li>We may use the information to improve our website. If we see users not spending a lot of time on certain pages, we'll see what we can do to improve those pages.</li>
      <li>We may use the information to customize the website according to your interests.</li>
      <li>If we see a lot of users on a browser like IE10, we would make sure that our website supports IE10. If we see a lot of users on certain mobile resolutions, we can ensure our website works smoothly on those sizes of devices.</li>
      <li>If you came to us from Google Ads, we can see that and know whether our Ad spending is worth it.</li>
      <li>If you came from a blog we wrote, we can see that and write similar content that can be of practical use to others.</li>
    </ul>
    <p>An important note, we will never sell your information.</p>
    <h2>Information from users with accounts</h2>
    <p>If you create an account, we require some basic information at the time of account creation.</p>
    <ul>
      <li>name and job title</li>
      <li>email address</li>
      <li>phone number</li>
      <li>the company you work for</li>
    </ul>
    <h2>Why do we collect this?</h2>
    <ul>
      <li>We need your name and company to create your account, and to provide the services you request.</li>
      <li>The job title you provide is to determine what sort of account to create for you.</li>
      <li>We will use your email address/phone number to communicate with you and likely send you some how-to emails on the software. You can unsubscribe.</li>
      <li>We may periodically send promotional emails about new features in our software or other information we think you may find interesting.</li>
      <li>Store it in our CRM for reference. This also helps us make sure we're not emailing you or calling you too much.</li>
    </ul>
    <h2>Security</h2>
    <p>We are committed to ensuring that your information is safe and secure. In order to prevent unauthorized access or disclosure we have put in place suitable electronic and managerial procedures to safeguard and secure the information we collect online.</p>
  </div>
</div>