---
title: QA Signup
robots: true
---

<form data-abide novalidate>
  <div class="grid-y grid-container" style="height:900px">
    <div class="cell medium-1"></div>
    <div class="cell">
      <div class="grid-x">
        <div class="cell text-center">
          <h1>QA Testing Signup!</h1>
        </div>
        <div class="cell medium-4 medium-offset-4">
          <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
              <div class="group">
                <input id="fname" type="text" required>
                <span class="bar"></span>
                <label>First Name</label>
              </div>
            </div>
            <div class="cell medium-6">
              <div class="group">
                <input id="lname" type="text" required>
                <span class="bar"></span>
                <label>Last Name</label>
              </div>
            </div>
            <div class="cell">
              <div class="group">
                <select id="location" name="location" required>
                  <option>Choose Location</option>
                </select>
                <span class="bar"></span>
              </div>
            </div>
            <div class="cell">
              <div class="group">
                <select id="position" name="position" required>
                  <option>Choose Position</option>
                </select>
                <span class="bar"></span>
              </div>                           
            </div>
            <div class="cell">
              <div class="group">
                <input id="supervisor" type="text" required>
                <span class="bar"></span>
                <label>Supervisor</label>
              </div>
            </div>
            <div class="cell">
              <div class="group">
                <input id="phone" type="text" required>
                <span class="bar"></span>
                <label>Phone</label>
              </div>
            </div>
            <div class="cell">
              <div class="group">
                <input id="email" type="email" required>
                <span class="bar"></span>
                <label>Email</label>
              </div>              
            </div>
            <div class="cell">
              <button id="btnSignup" class="button" type="submit" value="Submit">Continue</button>
            </div>
            <div id="signup-msg" class="text-center" style="display: none; padding:3rem">
              <h3>Thank you!</h3>
              Your profile is subject to approval by Michels Canada, this can take 24-48 hours. Once approved, you will receive an email with your login information. If you require immediate access please contact your supervisor.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
  $('#phone').mask('(999)999-9999');    //Uses the CDN above

  // Code for populating drop downs and posting signup api request
  var customerID = 9077;
  var positionsFiltered = false;
  var posVal = [];
  var posText = [];
  $(document)
    .on("submit", function (ev) {
      ev.preventDefault();
      CustomerSignup($("#fname").val(), $("#lname").val(), $("#email").val(), $("#phone").val(),$("#position").val(), $("#position option:selected").text(), "Michels Canada", customerID, $('#btnSignup'), $('#signup-msg'), $('#formtext'), $('#location').val(), $("#location option:selected").text(), $("#supervisor").val());
    });
  $(document).ready(function () {
    populatePositions();
    populateLocations();
  });
  function repopulatePositions() {
    $("#position > option").each(function () {
      $(this).remove();
    });

    $('#position').append($('<option></option>').val(0).html("Select your Position"));
    for (var i = 0; i < posVal.length; i++) {
      $('#position').append($('<option></option>').val(posVal[i]).html(posText[i]));
    }
  }
  function populatePositions() {
    $.ajax({
      url: "https://api.safetysync.com/customer_positions?id=" + customerID,   // Current Page, Method
      dataType: "json",
      success: function (data) {
        $.each(data, function (index, item) {

          $('#position').append(
            $('<option></option>').val(item.positionID).html(item.positionName)
          );

          posVal.push(item.positionID);
          posText.push(item.positionName);

        });
      },
      failure: function (response) {
        alert('Failed to populate customer postions' + response);
      },
      error: function (xhr, status, error) {
        alert('ERROR populating customer positions' + error);
      }
    });
  }

  function populateLocations() {
    $.ajax({
      url: "https://api.safetysync.com/customer_locations?id=" + customerID,   // Current Page, Method
      dataType: "json",
      success: function (data) {
        $.each(data, function (index, item) {

          $('#location').append(
            $('<option></option>').val(item.locationID).html(item.locationName)
          );

        });
      },

      failure: function (response) {
        alert('Failed to populate customer locations' + response);
      },
      error: function (xhr, status, error) {
        alert('ERROR populating customer locations' + error);
      }
    });
  }
  function hasNumber(myString) {
    return (
      /\d/.test(
        myString));
  }

  function CustomerSignup(firstName, lastName, email, phone, positionID, position, company, custID, btnSignup, signupmsg, formtext, locationID, location, supervisor) {
    console.log(custID);
    console.log(positionID);
    console.log(locationID);
    var strURL = "https://api.safetysync.com/customer_signup";
    var bProcessSucsess = false;
    $.ajax({
      url: strURL, // Current Page, Method
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      crossDomain: true,
      xhrFields: {
        withCredentials: false
      },
      data: JSON.stringify({
        "SignupFirstName": firstName,
        "SignupLastName": lastName,
        "SignupEmail": email,
        "SignupPhone": phone,
        "SignupPosition": position,
        "SignupCompanyName": company,
        "SignupCustomerID": custID,
        "SignupPositionId": positionID,
        "SignupLocationId": locationID,
        "SignupLocation": location,
        "SignupSupervisor": supervisor
      }), // parameter map as JSON
      type: "POST", // data has to be POSTed
      contentType: "application/json; charset=utf-8", // posting JSON content
      dataType: "JSON", // type of data is JSON (must be upper case!)
      timeout: 50000, // AJAX timeout
      beforeSend: function (x) {
        btnSignup.attr('disabled', 'disabled');
        btnSignup.addClass("disabled");
      },
      success: function (result) {
        // window.location.href = result.url;
        btnSignup.removeAttr('disabled');
        btnSignup.removeClass("disabled");
        signupmsg.css("display", "block");
        formtext.css("display", "none");
      },
      failure: function (response) {
        alert('Failed ' + response.d);

      },
      error: function (xhr, status) {
        alert('ERROR ' + status + " - " + xhr.responseText);
      }
    });
  }
</script>