---
title: AFPA Signup
description: Get a free 14 day trial of Workhub.
---
<form data-abide novalidate>
  <div class="grid-y grid-container" style="height:600px">
    <div class="cell medium-1"></div>
    <div class="cell">
      <div class="grid-x">
        <div class="cell text-center">
          <h1>AFPA Signup</h1>
        </div>
        {{> orientation-signup}}
      </div>
    </div>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document)
    .on("submit", function(ev) {
      ev.preventDefault();
      Signup($("#fname").val(), $("#lname").val(), $("#cname").val(), $("#jtitle").val(), null, $("#email").val(), true, false);
    });
  {{> signup }}
</script>