---
title: Signup for Workhub Today!
description: Get a free 14 day trial of Workhub.
---

{{>signupcss}}
<form name="Free Trial">
  <div class="grid-x align-center">
    <div class="cell text-center">
      <h3>Getting Started</h3>
      <p>No credit card required.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="cell medium-8 large-4">
      <div id="signup-callout" class="grid-x grid-padding-x signup-shadow">
        <div class="cell medium-6">
          <div class="group">
            <input id="fname" type="text" maxlength="25" required name="firstname">
            <span class="bar"></span>
            <label>First Name</label>
          </div>
        </div>
        <div class="cell medium-6">
          <div class="group">
            <input id="lname" type="text" maxlength="25" required name="lastname">
            <span class="bar"></span>
            <label>Last Name</label>
          </div>
        </div>
        <div class="cell">
          <div class="group">
            <input id="cname" type="text" maxlength="40" required name="name">
            <span class="bar"></span>
            <label>Company Name</label>
          </div>
        </div>
        <div class="cell">
          <div class="group">
            <input id="jtitle" type="text" maxlength="50" required name="jobtitle">
            <span class="bar"></span>
            <label>Job Title</label>
          </div>
        </div>
        <div class="cell">
          <div class="group">
            <input id="phone" type="text" maxLength="50" required name="phone">
            <span class="bar"></span>
            <label>Phone</label>
          </div>
        </div>
        <div class="cell">
          <div class="group">
            <input id="email" type="email" maxlength="55" required name="email">
            <span class="bar"></span>
            <label>Email</label>
          </div>
        </div>
        <div class="cell text-center">
          <button class="button large" style="color: white" type="submit" value="Submit">Get Started Now</button>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document)
    .on("submit", function (ev) {
      ev.preventDefault();
      Signup($("#fname").val(), $("#lname").val(), $("#cname").val(), $("#jtitle").val(), $("#phone").val(), $("#email").val(), false, false);
    });
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }
  //Uses the fetch API to POST the request.
  function Signup(firstName, lastName, companyName, position, phone, email, afpa, orientation) {
    (async () => {
      var obj = {};
      obj.fields = [];

      var emailObj = {};
      emailObj.name = 'email';
      emailObj.value = email;

      var fnameObj = {};
      fnameObj.name = 'firstname';
      fnameObj.value = firstName;

      var lnameObj = {};
      lnameObj.name = 'lastname';
      lnameObj.value = lastName;

      var jtitleObj = {};
      jtitleObj.name = 'jobtitle';

      jtitleObj.value = position;

      var phoneObj = {};
      phoneObj.name = 'phone';
      phoneObj.value = phone;

      var cnameObj = {};
      cnameObj.name = 'company';
      cnameObj.value = companyName;

      obj.fields.push(emailObj);
      obj.fields.push(fnameObj);
      obj.fields.push(lnameObj);
      obj.fields.push(jtitleObj);
      obj.fields.push(phoneObj);
      obj.fields.push(cnameObj);

      obj.context = {};
      obj.context.hutk = getCookie('hubspotutk');
      obj.context.pageUri = 'www.workhub.com/signup.html';
      obj.context.pageName = 'Free Trial';

      fetch('https://api.hsforms.com/submissions/v3/integration/submit/2339207/663add41-4040-433d-974a-b644686cff73', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(obj)
      });
      console.log("sending request");
      const rawResponse = await fetch('https://api.safetysync.com/workhub-signup', {
      // const rawResponse = await fetch('http://localhost:61503/workhub-signup', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          "SignupFirstName": firstName,
          "SignupLastName": lastName,
          "SignupEmail": email,
          "SignupPhone": phone,
          "SignupPosition": position,
          "SignupCompanyName": companyName,
          "SignupIsAfpa": afpa,
          "SignupIsOrientation": orientation
        })
      });
      const content = await rawResponse.json();
      //console.log(content);
      window.location.href = content.url;
    })();
  }
  {{> url-email-variable }}
</script>