---
title: The Team
description: Who are we?
---
<style>
.round img {
  border-radius:50%;
}

.hero-team {
  background-image: url('{{root}}assets/img/our-office.webp');
  background-image: url('{{root}}assets/img/our-office.jpg');
  background-size: cover;
}
</style>
<div class="grid-x hero-team" style="margin-bottom: 20px;">
  <div class="cell">
    <div class="grid-x grid-container">
      <div class="cell medium-5" style="margin-top: 16rem;">
        <div class="callout large global-shadow">
          <br>
          <br>
          <p>Do you want to change the world of compliance forever?</p>
          <b>We are looking for new talent!</b>
          <br>
          <br>
          <br>
          <a href="https://www.indeedjobs.com/safetysync/_hl/en_CA" rel="external nofollow" target="_blank" class="button large" color="white">Give it a shot today</a>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-y grid-container">
  <div class="cell medium-1"></div>
  <div class="cell medium-1 text-center" style="margin-bottom: 20px;">
    <h1>Meet the Team</h1>
  </div>
  <div class="cell round">
    <div class="grid-x grid-padding-x text-center">
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/brian.webp" type="image/webp">
          <img src="assets/img/staff/brian.png" alt="Brian"><br />
        </picture>
        <b>Brian Nodwell</b>
        <a href="https://www.linkedin.com/in/brian-nodwell-55ab1898" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Chief Executive Officer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/jack.webp" type="image/webp">
          <img src="assets/img/staff/jack.png" alt="Jack"><br />
        </picture>
        <b>Jack Nodwell</b>
        <p>Chairman</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/doug.webp" type="image/webp">
          <img src="assets/img/staff/doug.png" alt="Doug"><br />
        </picture>
        <b>Doug Penner</b>
        <a href="https://www.linkedin.com/in/dougpennerprofile/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Chief Operations Officer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/emiliya.webp" type="image/webp">
          <img src="assets/img/staff/emiliya.png" alt="Emiliya"><br />
        </picture>
        <b>Emiliya Ursova</b>
        <a href="https://www.linkedin.com/in/emiliyaursova" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Chief Technology Officer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/evan.webp" type="image/webp">
          <img src="assets/img/staff/evan.png" alt="Evan"><br />
        </picture>
        <b>Evan Tillett</b>
        <a href="https://www.linkedin.com/in/evan-tillett-58372498" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Regional Sales Director</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/sobia.webp" type="image/webp">
          <img src="assets/img/staff/sobia.png" alt="Sobia"><br />
        </picture>
        <b>Sobia Akhtar</b>
        <a href="https://www.linkedin.com/in/sobia-idrees-b5426344" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Web Developer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/david.webp" type="image/webp">
          <img src="assets/img/staff/david.png" alt="David"><br />
        </picture>
        <b>David LeFrancois</b>
        <a href="https://www.linkedin.com/in/david-lefrancois-22214486" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Lead Content Developer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/pam.webp" type="image/webp">
          <img src="assets/img/staff/pam.png" alt="Pam"><br />
        </picture>
        <b>Pam</b>
        <p>Inventory Specialist</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/harshil.webp" type="image/webp">
          <img src="assets/img/staff/harshil.png" alt="Harshil"><br />
        </picture>
        <b>Harshil Shah</b>
        <a href="https://www.linkedin.com/in/ha-s-318a119" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>IT</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/sahar.webp" type="image/webp">
          <img src="assets/img/staff/sahar.png" alt="Sahar"><br />
        </picture>
        <b>Sahar Ahangar</b>
        <a href="https://www.linkedin.com/in/sahar-a-b5542369" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Accounting Manager</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/mike.webp" type="image/webp">
          <img src="assets/img/staff/mike.png" alt="Mike"><br />
        </picture>
        <b>Mike Carney</b>
        <a href="https://www.linkedin.com/in/mike-carney-61750082/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Customer Care</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/daniel.webp" type="image/webp">
          <img src="assets/img/staff/daniel.png" alt="Daniel"><br />
        </picture>
        <b>Daniel Kuhlwein</b>
        <a href="https://www.linkedin.com/in/danielkuhlwein/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <a href="https://github.com/danielkuhlwein" target="_blank"><img src="assets/img/github.png" alt="GitHub Profile"></a>
        <p>Web Developer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/danielle.webp" type="image/webp">
          <img src="assets/img/staff/danielle.png" alt="Danielle"><br />
        </picture>
        <b>Danielle Zummack</b>
        <a href="https://www.linkedin.com/in/danielle-zummack-423a9541/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Content Developer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/john.webp" type="image/webp">
          <img src="assets/img/staff/john.png" alt="John"><br />
        </picture>
        <b>John Hou</b>
        <a href="https://www.linkedin.com/in/john-hou-86252128/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Web Developer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/stephen.webp" type="image/webp">
          <img src="assets/img/staff/stephen.png" alt="Stephen"><br />
        </picture>
        <b>Stephen Michalezki</b>
        <a href="https://www.linkedin.com/in/stephen-michalezki-58299b60/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Customer Success Manager</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/alyssa.webp" type="image/webp">
          <img src="assets/img/staff/alyssa.png" alt="Alyssa"><br />
        </picture>
        <b>Alyssa Mcmurry</b>
        <a href="https://www.linkedin.com/in/alyssa-mcmurry-6924b474/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Rewards Development</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/aida.webp" type="image/webp">
          <img src="assets/img/staff/aida.jpeg" alt="Aida"><br />
        </picture>
        <b>Aida Rakhmetova</b>
        <a href="https://www.linkedin.com/in/aida-rakhmetova-9a0549114/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>AR/AP</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/craig.webp" type="image/webp">
          <img src="assets/img/staff/craig.jpg" alt="Craig"><br />
        </picture>
        <b>Craig Wright</b>
        <a href="https://www.linkedin.com/in/craig-wright-39ba03101/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Web Developer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/tyler.webp" type="image/webp">
          <img src="assets/img/staff/tyler.png" alt="Tyler"><br />
        </picture>
        <b>Tyler Sutherland</b>
        <a href="https://www.linkedin.com/in/tyler-sutherland-9324a9128/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Customer Success Manager</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/giustina.webp" type="image/webp">
          <img src="assets/img/staff/giustina.png" alt="Giustina"><br />
        </picture>
        <b>Giustina Qualizza</b>
        <a href="https://www.linkedin.com/in/giustina-qualizza/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>UI & UX Designer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/amal.webp" type="image/webp">
          <img src="assets/img/staff/amal.jpg" alt="Amal"><br />
        </picture>
        <b>Amal Ladha</b>
        <p>Customer Champion</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/ray.webp" type="image/webp">
          <img src="assets/img/staff/ray.png" alt="Ray"><br />
        </picture>
        <b>Ray Masiclat</b>
        <a href="https://www.linkedin.com/in/raymasiclat/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <a href="https://github.com/Raaaaaaay" target="_blank"><img src="assets/img/github.png" alt="GitHub Profile"></a>
        <p>Web Developer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/pamela.webp" type="image/webp">
          <img src="assets/img/staff/pamela.png" alt="Rose"><br />
        </picture>
        <b>Pam Gorrell</b>
        <p>Inventory Specialist</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/vicky.webp" type="image/webp">
          <img src="assets/img/staff/vicky.png" alt="Vicky"><br />
        </picture>
        <b>Vicky Dignard</b>
        <a href="https://www.linkedin.com/in/vicky-jalbert-6b727999/" target="_blank"><img src="assets/img/linkedin.png" alt="LinkedIn Profile"></a>
        <p>Multimedia Developer</p>
      </div>
      <div class="cell small-6 medium-3">
        <picture>
          <source srcset="https://via.placeholder.com/1" srcset1="assets/img/staff/isaac.webp" type="image/webp">
          <img src="assets/img/staff/isaac.png" alt="Diana"><br />
        </picture>
        <b>Isaac Amor</b>
        <p>Lead UI & UX Designer</p>
      </div>
    </div>
  </div>
</div>