<div data-sticky-container>
  <div class="sticky" data-sticky data-margin-top="0" style="width:100%">
    <div class="top-bar grid-container">
      <div class="top-bar-left">
        <picture>
          <source srcset="https://via.placeholder.com/303x84" srcset1="{{root}}assets/img/branding/workhub-logo.webp" type="image/webp">
          <img src="{{root}}assets/img/branding/workhub-logo.png" alt="Workhub Logo">
        </picture>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="{{root}}courses.html">See All Courses</a></li>
          <li><a href="https://app.workhub.com" rel="nofollow">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>