{{>signupcss}}
<div class="grid-y" style="height:360px">
  <div class="cell medium-2"></div>
  <div class="cell">
    <div class="grid-x grid-container grid-padding-x grid-padding-y">
      <div class="cell medium-1">
        <img src="{{safetyImageURL}}" alt="{{courseName}} course logo">
      </div>
      <div class="cell auto">
        <h1>Free {{courseName}} Course</h1>
      </div>
      <div class="cell">
        <p>{{courseDescription}}</p>
      </div>
    </div>
  </div>
</div>
<div class="grid-x grid-container grid-padding-x align-center" >
  <div class="cell medium-5">
    <div>
      <h2>Course Overview</h2>
      <p>Duration: <stat class="time">{{totalCourseRunSeconds}}</stat> minutes</p>
      <p>Number of Lessons: {{activeLessonsCount}}</p>
      <p>Format: Online</p>
      <p>Knowledge Test: Yes</p>
      <br>
      <h3>Topics Covered:</h3>
      <div class="grid-x grid-padding-x">
        <div class="cell small-9">
          {{#each lessonNames}}<p>{{this}}</p>{{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="cell medium-5">
    <form name="{{courseName}}">
      <div class="grid-x align-center signup-shadow">
        <div class="cell text-center">
          <h3 style="padding-top:3rem">Forever Free Access</h3>
        </div>
        <div class="cell medium-4">
          <div class="group">
            <input id="fname" type="text" maxlength="25" required>
            <span class="bar"></span>
            <label>First Name</label>
          </div>
        </div>
        <div class="cell medium-4">
          <div class="group">
            <input id="lname" type="text" maxlength="25" required>
            <span class="bar"></span>
            <label>Last Name</label>
          </div>
        </div>
        <div class="cell medium-8">
          <div class="group">
            <input id="cname" type="text" maxlength="40" required>
            <span class="bar"></span>
            <label>Company Name</label>
          </div>
        </div>
        <div class="cell medium-8">
          <div class="group">
            <input id="email" type="email" maxlength="55" required>
            <span class="bar"></span>
            <label>Email</label>
          </div>
        </div>
        <div class="cell medium-8">
          <div class="group">
            <select id="jtitle" required>
              <option value="Worker">I'm a Worker</option>
              <option value="Admin">I'm an Administrator</option>
            </select>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="cell text-center">
          <button class="button large secondary" type="submit" value="Submit" style="margin-bottom:3rem;">Start your Free Course Now</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="grid-y show-for-medium" style="height:275px">
</div>

<div class="grid-x grid-container grid-padding-x">
  <div class="cell">
    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">How do I get a certificate?</a>
        <div class="accordion-content" data-tab-content>
          <p>After you complete all lessons in the course you will be able to print a wallet card or full-size certificate. In case you lose it in the future you can simply login again and re-print your certificate.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Is it really free?</a>
        <div class="accordion-content" data-tab-content>
          <p>Yes! Free training is the future and we're happy to provide all of our training for free. Did we mention we have 60 other courses?</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Is the content approved?</a>
        <div class="accordion-content" data-tab-content>
          <p>The online courses we are offer are awareness level courses. Where it exists, we follow legislated information. Where that doesn't exist we try to go to industry recommended information, and if that doesn't exist we do our best research to find practical ways to provide the awareness level information that we think is most relevant from a workplace safety perspective.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">What if I want to take additional training?</a>
        <div class="accordion-content" data-tab-content>
          <p>All 60+ courses can be found under the optional section when you create your account.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Are other people taking this training?</a>
        <div class="accordion-content" data-tab-content>
          <p>Yes! Our quizzes have been taken over 12 million times.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
{{> seconds-to-minutes }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Course",
  "name": "{{courseName}}",
  "description": "{{courseDescription}}",
  "provider": {
    "@type": "Organization",
    "name": "Workhub",
    "sameAs": "https://www.workhub.com"
  }
}
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document)
    .on("submit", function(ev) {
      ev.preventDefault();
      Signup($("#fname").val(), $("#lname").val(), $("#cname").val(), $("#jtitle").val(), null, $("#email").val(), false, false);
    });
  {{> signup }}
</script>