<footer>
  <div id="footer">
    <div class="grid-y" style="height:200px"></div>
    <div class="grid-x grid-container align-middle text-center">
      <div class="cell medium-2" style="border-right: 1px solid #dfe2df" >
        <div class="grid-x">
          <div class="cell">
            <a href="{{root}}the-team.html">
              <picture>
                <source srcset="https://via.placeholder.com/100x150" srcset1="{{root}}assets/img/index/our-team.webp" type="image/webp">
                <img src="{{root}}assets/img/index/our-team.png" alt="Meet our Team">
              </picture>
              <p style="padding-top:1rem">Meet our Team</p>
            </a>
          </div>
        </div>
      </div>
      <div class="cell medium-2" style="border-right: 1px solid #dfe2df">
        <div class="grid-x">
          <div class="cell">
            <a href="{{root}}our-story.html">
              <picture>
                <source srcset="https://via.placeholder.com/100x150" srcset1="{{root}}assets/img/index/our-story.webp" type="image/webp">
                <img src="{{root}}assets/img/index/our-story.png" alt="Our Story">
              </picture>
              <p style="padding-top:1rem">Our Story</p>
            </a>
          </div>
        </div>
      </div>
      <div class="cell medium-2" style="border-right: 1px solid #dfe2df">
        <div class="grid-x">
          <div class="cell">
            <a href="https://blog.safetysync.com" rel="noopener" target="_blank">
              <picture>
                <source srcset="https://via.placeholder.com/100x150" srcset1="{{root}}assets/img/index/blog.webp" type="image/webp">
                <img src="{{root}}assets/img/index/blog.png" alt="Our Story">
              </picture>
              <p style="padding-top:1rem">Blog</p>
            </a>
          </div>
        </div>
      </div>
      <div class="cell medium-3">
          <p><a href="{{root}}signup-orientation.html">Orientation Signup</a></p>
          <p><a href="{{root}}privacy.html">Privacy Policy</a></p>
      </div>
      <div class="cell medium-3 text-left">
        <ul class="no-bullet">
          <li><h4>Sales</h4></li>
          <li>1-866-668-6402</li>
          <li><a href="mailto:sales@workhub.com?Subject=Sales%20Inquiry" target="_top">sales@workhub.com</a></li>
          <li><h4>Support</h4></li>
          <li>1-888-668-6403</li>
          <li><a href="mailto:support@workhub.com?Subject=Support%20Inquiry" target="_top">support@workhub.com</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-x grid-container" style="padding-top: 3rem;padding-bottom:3rem">
      <div class="cell medium-2" style="display:flex; align-items:center;">
        <picture>
          <source srcset="https://via.placeholder.com/10" srcset1="{{root}}assets/img/branding/workhub-logo.webp" type="image/webp">
          <img src="{{root}}assets/img/branding/workhub-logo.png" alt="Workhub Logo White">
        </picture>
      </div>
      <div class="cell medium-10"  style="display:flex; align-items:center;">
        <p style="color:white; margin-bottom: 0; margin-left: 10px; align-self: center; display: flex;">#50 - 2121 29th Street NE, Calgary, AB, Canada, T1Y 7H8</p>
      </div>
    </div>
  </div>
</footer>