<div class="grid-container top-bar" data-margin-top="0">
  <div class="top-bar-left">
    <a href="/">
      <picture>
        <source srcset="https://via.placeholder.com/189x37" srcset1="{{root}}assets/img/branding/workhub-logo.webp"
          type="image/webp">
        <img src="{{root}}assets/img/branding/workhub-logo.png" alt="Workhub Logo">
      </picture>
    </a>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="{{root}}pricing.html">Pricing</a></li>
      <li><a href="https://app.workhub.com" rel="noopener" target="_blank">Login</a></li>
      <li><a href="{{root}}signup.html" class="orange-text">Start Free Trial</a></li>
    </ul>
  </div>
</div>