{{>signupcss}}
<form>
  <div class="grid-x grid-container grid-padding-x align-center">
    <div class="cell text-center">
      <h1>{{ company }} Orientation Access.</h1>
    </div>
    <br><br><br><br><br><br><br>
    <div class="cell medium-3">
      <div class="grid-x">
        <div class="cell text-center">
          <img src="{{ logo }}">
        </div>
        <br><br><br><br>
        <div class="cell">
          <p>Fill out this form to create an account and take the {{ company }} orientation.</p>
        </div>
        <br><br><br><br>
        <div class="cell text-center callout">
          <h5>Recommended Browsers</h5>
          <img src="{{root}}assets/img/firefox.png" alt="Firefox Browser">
          <img src="{{root}}assets/img/chrome.png" alt="Chrome Browser">
          <img src="{{root}}assets/img/edge.png" alt="Edge Browser">
        </div>
      </div>
    </div>
    <div class="cell medium-4 signup-shadow" id="signup-callout">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
          <div class="group">
            <input id="fname" type="text" maxlength="25" required>
            <span class="bar"></span>
            <label>First Name</label>
          </div>
        </div>
        <div class="cell medium-6">
          <div class="group">
            <input id="lname" type="text" maxlength="25" required>
            <span class="bar"></span>
            <label>Last Name</label>
          </div>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <div class="group">
            <input id="cname" type="text" maxlength="40" required>
            <span class="bar"></span>
            <label>Company Name</label>
          </div>
        </div>
        <div class="cell">
          <div class="group">
            <input id="email" type="email" maxlength="55" required>
            <span class="bar"></span>
            <label>Email</label>
          </div>
        </div>
        <div class="cell">
          <div class="group">
            <select id="jtitle" required>
              <option value="Worker">I'm a Worker</option>
              <option value="Admin">I'm an Administrator</option>
            </select>
          </div>
        </div>
        <div class="cell">
          <button id="btnSignup" class="button" type="submit" value="Submit">Continue</button>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>