<div class="grid-y grid-container" style="height:350px">
  <div class="cell medium-3"></div>
  <div class="cell text-center">
    <h2>Better Systems. Less Work.</h2>
    <p>Try Workhub with no Credit Card Required.</p>
    <a class="button large" href="https://app.hubspot.com/meetings/stephen-michalezki/book-a-meeting-with-our-sales-team?embed=true" style="color: white">Book a Demo(US)</a>
    <a class="button large" href="https://app.hubspot.com/meetings/stephen-michalezki/meet-with-one-of-our-sales-team?embed=true" style="color: white">Book a Demo(Canada)</a>
  </div>
  <!-- <form action="{{root}}signup.html" method="GET">
    <div class="grid-x easy-signup-button align-center">
      <div class="cell small-6 medium-4 large-2">
        <input type="email" name="email" placeholder="Enter Your Email" pattern="email" aria-label="Enter Email" required>
      </div>
      <div class="cell shrink">
        <button type="submit" class="button" href="{{root}}signup.html" value="Submit">Get Started Now</button>
      </div>
    </div>
  </form> -->
</div>