<!doctype html>
<html class="no-js" lang="en">
  <head>
    <link rel="preconnect" href="https://www.googletagmanager.com/" crossorigin>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5GC9PVJ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no"> 
    
    <!-- <link rel="icon" type="image/ico" href="{{root}}/assets/img/branding/favicon.ico">
    <link rel="icon" sizes="192x192" href="{{root}}/assets/img/branding/splash.png">
    <link rel="apple-touch-startup-image" href="{{root}}/assets/img/branding/splash.png"> -->

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="144x144" href="{{root}}/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{root}}/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{root}}/assets/img/favicon/safari-pinned-tab.svg" color="#ee4d28">
    <meta name="apple-mobile-web-app-title" content="Workhub">
    <meta name="application-name" content="Workhub">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{root}}/assets/img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <meta name="theme-color" content="#3F9E89">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {{#if robots}}
    <meta name="robots" content="noindex">
    {{/if}}
    {{#if course}}
    <title>{{title}} | Free Online Course | workhub</title> 
    {{else}}    
    <title>{{title}} | Compliance Software | Workhub (formerly SafetySync)</title>
    <meta name="msvalidate.01" content="3D3606184199AE92E3C14D573135AED8" />
    {{/if}}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    {{#ifpage 'index'}}<link rel="canonical" href="https://www.workhub.com">{{/ifpage}}
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="preconnect" href="https://www.google-analytics.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" as="style">
    <link rel="preload" href="https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2" as="font" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2" as="font" crossorigin>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GC9PVJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{#if course}}
    {{> course-navigation}}
    {{else}}
    {{> navigation}}
    {{/if}}
    {{> body}}
    {{> footer}}
  
  <!-- === Google Knowledge Graph === -->
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Workhub",
        "url": "https://www.workhub.com",
        "logo": "https://www.workhub.com/assets/img/branding/logo-for-search.png",
        "contactPoint": [{
          "@type": "ContactPoint",
          "telephone": "+1-888-668-6403",
          "contactType": "technical support",
          "contactOption": "TollFree",
          "areaServed": ["US", "CA"]
          }, {
          "@type": "ContactPoint",
          "telephone": "+1-403-668-6402",
          "contactType": "technical support",
          "areaServed": ["US", "CA"]
          }, {
          "@type": "ContactPoint",
          "telephone": "+1-866-668-6402",
          "contactType": "sales",
          "contactOption": "TollFree",
          "areaServed": ["US", "CA"]
        }]
    }
  </script>
  <script async src="{{root}}assets/js/app.js"></script>
  </body>
</html>